.Tangerine {
  font-family: 'Tangerine', cursive;
}
.princess{
  font-family: 'Princess Sofia', cursive;
}

.dancing{
  font-family: 'Dancing Script', cursive;
}

.plum{
  background-color: #DDA0DD;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}