.fancy {
  font-family: 'Tangerine', cursive;
}
.princess{
  font-family: 'Princess Sofia', cursive;
}

.dancing{
  font-family: 'Dancing Script', cursive;
}

.plumy{
  color: #DDA0DD;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 300px;
}
.text-muted {
    color: #777;
    font-size: 14px;
}
.jumbotron h1, .jumbotron .h1 {
    color: white;
    font-size: 18px;
}
img.targetLogo {
    max-width: 70px;
    
}
img.bedbath {
    max-width: 80px;
    
}
img#date {
    max-width: 84px;
}
 #honey {
    
}
#home {
    /*margin-left: 132px;*/
}


a.list-group-item {
    margin-top: 6px;
}
p.alert.alert-info {
    margin-top: -20px;
}
ul.list-group.price-list {
    margin-top: 10px!important;
}
.item {
    width: 200px;
    float: left;
}
.item img {
    display: block;
    width: 100%;
}
button {
    font-size: 18px;
}

div#__blaze-root {
  background: ir;
  background: url(/images/reflection.jpg)!
  ant;
  min-height: 100vh;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed!important;
}
.heading.jumbotron.text-center {
  background: rgba(0, 0, 0, 0.73);
  color: white;
  border-radius: 0px;
}
nav.navbar.navbar-default.navbar-static-top.Tangerine a {
  color: white;
  /*text-transform: uppercase;*/
  /*letter-spacing: 2px;*/
}

nav.navbar.navbar-default.navbar-static-top.Tangerine {
  background-color: #00BCD4;
  color: white;
}
nav.navbar.navbar-default.navbar-static-top.Tangerine {
  margin-top: 10px;
  border: none;
  background-color: rgba(0, 188, 212, 0.46);
}
nav.navbar.navbar-default.navbar-static-top.Tangerine {
  background-color: rgba(0, 188, 212, 0.46);
  color: white;
}
ul.nav.navbar-nav.navbar-right {
  padding-right: 20px;
}@font-face{font-family:"TT Rounds Condensed Bold";src:url(/TTRoundsCondensed-Bold.woff2)}

.instaTags{
  list-style:none  
}
.instaTags li{
  float:left;
  width:200px;
  height:200px;
  margin:10px
}
.instaTags li img{
  max-width:100%;
  max-height:100%;
}

h1,.lead,b,.btn,.progress {
  font-family: "TT Rounds Condensed Bold";

}
div,p,a{
  font-family: "TT Rounds Condensed Regular";
}

.button,[type=button],button{-webkit-appearance:none}[type=button],button{-moz-appearance:none}img,video{display:inline-block}h1,h3,h4,p{text-rendering:optimizeLegibility}.button,body{text-align:left}@font-face{font-family:"TT Rounds Condensed Bold";src:url(https://myeatclub.a.ssl.fastly.net/icecubestatic/global/webfonts/TTRoundsCondensed-Bold.woff2) format("woff2"),url(https://myeatclub.a.ssl.fastly.net/icecubestatic/global/webfonts/TTRoundsCondensed-Bold.woff) format("woff"),url(https://myeatclub.a.ssl.fastly.net/icecubestatic/global/webfonts/TTRoundsCondensed-Bold.ttf) format("truetype");font-weight:600;font-style:normal}@font-face{font-family:"TT Rounds Condensed Regular";src:url(https://myeatclub.a.ssl.fastly.net/icecubestatic/global/webfonts/TTRoundsCondensed-Regular.woff2) format("woff2"),url(https://myeatclub.a.ssl.fastly.net/icecubestatic/global/webfonts/TTRoundsCondensed-Regular.woff) format("woff"),url(https://myeatclub.a.ssl.fastly.net/icecubestatic/global/webfonts/TTRoundsCondensed-Regular.ttf)}

div#__blaze-root {
  background: url(images/reflection.jpg)!important;
  min-height: 100vh;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-attachment: fixed!important;
  /*background-position: 0px -290px!important;*/
}

a.btn.btn-doggie.btn-lg.btn-default {
    border-radius: 0px;
    border: none;
    /* width: 300px; */
    text-transform: uppercase;
    background: rgba(0, 188, 212, 0.75);
    color: white;
    letter-spacing: 8px;
    margin-left: -13px!important;
    /* font-size: 24px; */
    /* margin-top: 22px; */
}.teal.number {
   color: #00BCD4;
   font-size: 35px;
 }.countDown {
    background: rgba(0, 0, 0, 0.56);
  }h1 {
     text-transform: uppercase;
     letter-spacing: 8px;
     /*font-size: 50px!important;*/
   }.pageContent {
      background: rgba(255, 255, 255, 0.92);
      padding: 35px;
      padding-top: 5px;
    }.pageContent h1 {
       text-align: center;
       margin-bottom: 24px;
       background: #795548;
       padding: 16px;
       color: white;
     }
.modal-header {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: darkbrown;
    background-color: #795548;
    color: white;
}
     .heading.jumbotron.text-center.aos-init.aos-animate {
    margin: auto!important;
}
@media(min-width:600px){
    div#__blaze-root {
        background: url(images/reflection.jpg)!important;
        min-height: 100vh;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-attachment: fixed!important;
        background-position: 0px!important;
    }h1 {
         font-size: 26px!important;
     }ul.nav.navbar-nav.navbar-right {
          padding: 14px;
          display: block;
          float: none!important;
          width: 100%!important;
      }a.navbar-brand {
           display: block;
           width: 100%;
           font-weight: bold;
       }
}
.heading.jumbotron.text-center.aos-init.aos-animate {
    margin: 280px;
    width: 51%;
    margin-top: 180px;
    background: transparent;
    color: black;
}
li.list-group-item.clearfix.registry {
    margin-bottom: 8px;
}
img.targetLogo {
    max-width: 72px;
    margin-left: -25px;
}
img.bedbath {
    max-width: 74px;
    margin-left: -25px;
}
i#honey {
    margin-left: 10px;
}
i#home {
    margin-left: 35px;
}
img#date {
    max-width: 84px;
    margin-left: 54px;
}

a {
    color: brown;
    margin: 22px;
}
button.dropdown-toggle {
    margin-top: 15px;
    margin-bottom: 1px;
}
img.theBarn {
    
}
img.outsideLookAtBarn {
    margin-left: 40px;
}
img.insideBarn {
    margin-left: 75px;
}
.circle {
    border-radius: 50%;
    font-size: 6em;
}
p.btn.btn-primary.btn-small.registryGift {
    font-size: 15px;
}

img.activeImg {
    max-width: 100px;
}
/*@media screen and (min-width: 768px){

.jumbotron h1, .jumbotron .h1 {
    margin-bottom: -126px;
    font-size: 24px!important;
    color: white;
}
.heading.jumbotron.text-center.aos-init.aos-animate {
    margin: 280px;
    width: 51%;
    margin-top: 180px;
    background: transparent;
    color: black;
}
}*/
@media(min-width:768px){
    div#__blaze-root {
        background: url(images/reflection.jpg)!important;
        min-height: 100vh;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-attachment: fixed!important;
        background-position: 0px!important;
    }h1 {
         font-size: 26px!important;
    }
    ul.nav.navbar-nav.navbar-right {
    padding: 0px;
    display: block;
    float: none!important;
    width: 100%!important;
}a.navbar-brand {
           display: block;
           width: 100%;
           font-weight: bold;
       }

.jumbotron h1, .jumbotron .h1 {
    /* margin-top: 100px!important; */
    /* margin-bottom: -144px; */
    font-size: 29px!important;
    /* margin-left: 200px!important; */
    color: white;
    margin: auto!important;
}
.countDown {
    background: rgba(0, 0, 0, 0.72);
    /* margin: auto!important; */
     padding: 25px; 
    /*margin-top: 171px;*/
    /* margin-left: -147px!important; */
    /* width: 155%!important; */
}
a.btn.btn-doggie.btn-lg.btn-default {
    border-radius: 0px;
    border: none;
    /*width: 293px;*/
    text-transform: uppercase;
    background: rgba(0, 188, 212, 0.72);
    color: white;
    letter-spacing: 8px;
    font-size: 24px;
    margin: auto!important;
    /* margin-top: 22px; */
    /* margin-left: 125px; */
}
.heading.jumbotron.text-center.aos-init.aos-animate {
    /* margin: auto!important; */
    /* width: 50%; */
    /* margin-bottom: 176px; */
    background: transparent;
    color: black;
    margin-top: 215px!important;
}
li.list-group-item.clearfix.registry {
    margin-bottom: 8px;
}
  i#home {
    margin-left: 113px;
}
i#honey {
    margin-left: 58px;
}
img.bedbath {
    max-width: 54px;
    margin-left: -12px;
}
img.targetLogo {
    max-width: 54px;
    margin-left: -39px;
}
img#date {
    max-width: 59px;
    margin-left: 147px;
}
img.activeImg {
    margin-left: -69px;
    max-width: 235px!important;
}
}


@media(min-width: 1000px){

.jumbotron h1, .jumbotron .h1 {
    /* margin-top: 100px!important; */
    /* margin-bottom: -144px; */
    font-size: 29px!important;
    /* margin-left: 200px!important; */
    color: white;
    
}
.heading.jumbotron.text-center.aos-init.aos-animate {
    /* margin: auto!important; */
    /* width: 50%; */
    /* margin-bottom: 176px; */
    background: transparent;
    color: black;
    margin-top: 215px!important;
}
li.list-group-item.clearfix.registry {
    margin-bottom: 8px;
}
img.targetLogo.img-circle.gift {
    max-width: 100px;
}
img.bedbath.img-circle.gift {
    max-width: 100px;
}
i#honey {
    margin-left: 58px;
    font-size: 100px!important;
}
i#home {
    margin-left: 113px;
    font-size: 100px!important;
}
img#date {
    max-width: 100px!important;
}

}
@media(min-width:320px){
  img.targetLogo {
    max-width: 47px;
    margin-left: -52px;
}
img.bedbath {
    max-width: 47px;
    margin-left: -38px;
}
i#honey {
    margin-left: 6px;
    font-size: 50px;
}
i#home {
    font-size: 49px;
    margin-left: 27px;
}
img#date {
    max-width: 48px;
    margin-left: 39px;
}
}
@media(min-width:425px){
  img#date {
    max-width: 55px;
    margin-left: 50px;
}
i#home {
    margin-left: 34px;
}

}

@media(min-width:468px){
  img.targetLogo {
    max-width: 72px;
    margin-left: -46px;
}
}
@media(min-width: 375px){
  img.targetLogo {
    max-width: 49px;
    margin-left: -39px;
}
.circle {
    border-radius: 50%;
    font-size: 4em;
}
img.bedbath {
    max-width: 49px;
    margin-left: -25px;
}
i#home {
    margin-left: 28px;
}
img#date {
    max-width: 55px;
    margin-left: 40px;
}
}

/*@media(max-width:1000px){
  i#honey {
    margin-left: 58px;
    font-size: 100px;
}
i#home {
    margin-left: 113px;
    font-size: 100px;
}
img#date {
    max-width: 100px;
}
}*/


