<template name="stripe">
  
  <div class="row">
    <div class="col-xs-12">
      {{#unless processing}}
       <ul class="list-group price-list">
         <li class="list-group-item clearfix registry">
            <p class="pull-left registry">Honeymoon</p><br><i class="fa fa-heart fa-3x" id="honey" aria-hidden="true"></i>
            <button class="btn btn-primary pull-right registryGift" name="honeymoon">Gift</button>
            <!-- <a href="#" data-service="Honey Moon" class="btn btn-success pull-right">Buy Now</a> -->
          </li>
           <li class="list-group-item clearfix registry">
            <p class="pull-left registry">Home Improvement</p><i class="fa fa-home fa-3x" id="home" aria-hidden="true"></i>
            <button class="btn btn-primary pull-right registryGift" name="homeImprovment">Gift</button>
            <!-- <a href="#" data-service="Home Improvement" class="btn btn-success pull-right">Buy Now</a> -->
          </li>
          <li class="list-group-item clearfix registry">
            <p class="pull-left registry">Date Night</p><i class="fa fa-male fa-3x" id="date" aria-hidden="true"></i><i class="fa fa-female fa-3x" aria-hidden="true"></i>
            <button class="btn btn-primary pull-right registryGift" name="datenight">Gift</button>
            <!-- <a href="#" data-service="Date Night" class="btn btn-success pull-right">Buy Now</a> -->
          </li>
        </ul>








  
      {{else}}
        <p class="alert alert-warning"><i class="fa fa-refresh fa-spin"></i> Processing payment...</p>
      {{/unless}}
    </div>
  </div>

</template>