<template name="stripe">
  
  <div class="row">
    <div class="col-xs-12 col-md-6">

      <h4 class="page-header">Rachelle & Travis 7/29</h4>
      {{#unless processing}}
        <p class="alert alert-info">If you couldn't find anything in the registry, we have the following gift options:</p>

        <ul class="list-group price-list">
         <li class="list-group-item clearfix registry">
            <p class="pull-left registry">Honeymoon</p><br><i class="fa fa-heart fa-5x" id="honey" aria-hidden="true"></i>
            <a href="#" data-service="Honey Moon" class="btn btn-success pull-right">Buy Now</a>
          </li>
           <li class="list-group-item clearfix registry">
            <p class="pull-left registry">Home Improvement</p><i class="fa fa-home fa-5x" id="home" aria-hidden="true"></i>
            <a href="#" data-service="Home Improvement" class="btn btn-success pull-right">Buy Now</a>
          </li>
          <li class="list-group-item clearfix registry">
            <p class="pull-left registry">Date Night</p><i class="fa fa-male fa-5x" id="date" aria-hidden="true"></i><i class="fa fa-female fa-5x" aria-hidden="true"></i>
            <a href="#" data-service="Date Night" class="btn btn-success pull-right">Buy Now</a>
          </li>
        </ul>

        <form class="registry">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="firstName">Gift Amount</label>
            <input type="number" class="form-control" id="amount" placeholder="Gift Amount">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea row="3" class="form-control" id="message" placeholder="Message"></textarea>
          </div>
           <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>

        </form>

  
      {{else}}
        <p class="alert alert-warning"><i class="fa fa-refresh fa-spin"></i> Processing payment...</p>
      {{/unless}}
    </div>
  </div>
</template>
