<template name="giftForm">

    <div class="modal fade" id="myModalT" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header giftCard">
                    <h1 class="giftCard">Gift Card For Rachelle and Travis</h1>
                </div>
                <div class="modal-body">
                    <form name="giftForm" class="registry">

                        <div class="form-group">
                            <label >First Name</label>
                            <input type="text" class="form-control" name="firstName" value="" id="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="lastName" value="" id="lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label>Gift Type</label>
                            <select class="form-control ui dropdown attending" id="selector" tabindex="3" name="giftType">

                                <option value="Honey Moon" >
                                    Honeymoon
                                </option>
                                <option value="Home Improvement">
                                    Home Improvement
                                </option>
                                <option value="Date Night">
                                    Date Night
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Gift Amount (example: 20.00)</label>
                            <input type="number" class="form-control" name="giftAmount" value="" id="amount" placeholder="Gift Amount">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" value="" id="email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <label>Message to Bride and Groom</label>
                            <textarea row="3" class="form-control" name="message" value="" id="message" placeholder="Message"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Submit</button>

                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

                </div>

            </div>
        </div>
    </div>


</template>