<template name="map">  



    {{#if howLong}}
    <div class="row">
      <div class="col-sm-12">
        <div class="lead howLong">
          It will take you {{howLong}} to drive to our wedding. 
          <br><a  href="#" class="changeDest btn btn-xs btn-default">Change Start Address</a>
        </div>
      </div>
      
    </div>
    {{else}}
        <div class="addressForm">


        <div class="row">
            <div class="col-sm-4">
                <input id="start" name="origin" value="" size="50" class="form-control" type="text"
                       placeholder="Enter a starting address">
            </div>
            <div class="col-sm-8">
                <button class="getDirections btn btn-primary" id="end" value="33213 S Finley Point Rd, Polson, MT 59860">Get Directions to Barn</button>
            </div>
        </div>
        </div>
    <hr>
    {{/if}}
      <div class="row">
          <div class="col-sm-6">
              <div class="map-container">
              {{> googleMap name="map" options=mapOptions}}
                  </div>
          </div>
          <div class="col-sm-6">
              <div id="setPanel">Directions: </div>
          </div>
      </div>



</template>  