<template name="rsvp">

<div class="container">
<h1 class="rsvpHeader">RSVP</h1>  

</div>

<div class="container"> 
  <form class="rsvpForm">
    <div class="form-group">
        <label>Email</label>
          <input type="text" class="form-control" name="email" value="" placeholder="Email">
    </div>
    <div class="form-group">
        <label>Number in Party</label>
          <input type="text" class="form-control" name="party" value="" placeholder="Number in Party">
    </div>
      
  </form>
</div>

</template>