<template name="photos">

<div class="container pageContent">
<h1>Photos</h1>
	<div class="row">
		<div class='list-group gallery'>
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/reflection.jpg">
                    <img class="img-responsive" alt="" src="./images/reflection.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/us.jpg">
                    <img class="img-responsive" alt="" src="./images/us.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/engagement1.jpg">
                    <img class="img-responsive" alt="" src="./images/engagement1.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/us2.jpg">
                    <img class="img-responsive" alt="" src="./images/us2.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/us3.jpg">
                    <img class="img-responsive" alt="" src="./images/us3.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/us4.jpg">
                    <img class="img-responsive" alt="" src="./images/us4.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/us5.jpg">
                    <img class="img-responsive" alt="" src="./images/us5.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/us6.jpg">
                    <img class="img-responsive" alt="" src="./images/us6.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/ring.jpg">
                    <img class="img-responsive" alt="" src="./images/ring.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/sledding.jpg">
                    <img class="img-responsive" alt="" src="./images/sledding.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/ring3.jpg">
                    <img class="img-responsive" alt="" src="./images/ring3.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/snowFight.jpg">
                    <img class="img-responsive" alt="" src="./images/snowFight.jpg"/>
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/snowInFace.jpg">
                    <img class="img-responsive" alt="" src="./images/snowInFace.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/inFrontofOldCabin.jpg">
                    <img class="img-responsive" alt="" src="./images/inFrontofOldCabin.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/holdingHands.jpg">
                    <img class="img-responsive" alt="" src="./images/holdingHands.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/byWindow.jpg">
                    <img class="img-responsive" alt="" src="./images/byWindow.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/checkingOutScenery.jpg">
                    <img class="img-responsive" alt="" src="./images/checkingOutScenery.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/holdingHands2.jpg">
                    <img class="img-responsive" alt="" src="./images/holdingHands2.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/piggyBack.jpg">
                    <img class="img-responsive" alt="" src="./images/piggyBack.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/laughing.jpg">
                    <img class="img-responsive" alt="" src="./images/laughing.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/throwingSnow.jpg">
                    <img class="img-responsive" alt="" src="./images/throwingSnow.jpg"/>
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/holdingHands2.jpg">
                    <img class="img-responsive" alt="" src="./images/holdingHands2.jpg" />
                </a>
            </div> <!-- col-6 / end -->
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/walkingFromCabin.jpg">
                    <img class="img-responsive" alt="" src="./images/walkingFromCabin.jpg" />
                </a>
            </div> <!-- col-6 / end -->
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/walkingToCabin.jpg">
                    <img class="img-responsive" alt="" src="./images/walkingToCabin.jpg" />
                </a>
            </div> <!-- col-6 / end -->
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/holdingHand3.jpg">
                    <img class="img-responsive" alt="" src="./images/holdingHand3.jpg"/>
                </a>
            </div> <!-- col-6 / end -->
              <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                <a class="fancybox thumbnail" rel="ligthbox" href="./images/holdingHands4.jpg">
                    <img class="img-responsive" alt="" src="./images/holdingHands4.jpg" />
                </a>
            </div> <!-- col-6 / end -->
            

            
        </div> <!-- list-group / end -->
	</div> <!-- row / end -->
</div> <!-- container / end -->

<ul class="instaTags"></ul>


</template>