<template name="photos">
	<div class="pageContent container">
	<h1>Photos</h1>
	<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="./images/ring.jpg" alt="...">
    </a>
    </div>
      <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="./images/us.jpg" alt="...">
    </a>
    </div>

      <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="./images/us2.jpg" alt="...">
    </a>
    </div>
     <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="./images/us3.jpg" alt="...">
    </a>
    </div>
     <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="./images/us4.jpg" alt="...">
    </a>
    </div>
      <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="./images/us5.jpg" alt="...">
    </a>
    </div>
  
  
	<!-- <ul class="instaTags"></ul> -->

	</div>
	</div>
</template>