<template name="registry">
<div class="pageContent registry" data-aos="flip-left">
    <h1 class="registryHeader">Registry Options
        <span class="glyphicon glyphicon-gift"></span>
    </h1>

    <div><a href="https://www.target.com" class="list-group-item ">1. Target</a></div>
    <div><a href="https://www.bedbathandbeyond.com/" class="list-group-item " >2. Bed Bath and Beyond</a></div>
    <div><a href="#" class="list-group-item">3. Provide money towards honey moon, home improvement, or date night (look below) <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </a></div>
{{>stripe}}


</div>
</template>