<template name="nav">
<nav class="navbar navbar-default navbar-static-top Tangerine">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Rachelle & Travis</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
            <li><a href="/details">Details</a></li>
            <li><a href="/registry">Registry</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/rsvp">RSVP</a></li>
            <li><a href="/photos">Photos</a></li>

        
      </ul>
    </div>
  </div>
</nav>
</template>


<!-- <nav class="navbar navbar-default navbar-static-top Tangerine">
  <div class="">
    <a class="navbar-brand" href="/">Rachelle&Travis</a>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/details">Details</a></li>
    <li><a href="/registry">Registry</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/rsvp">RSVP</a></li>

    </ul>  
  </div>
</nav> -->