<template name="details">

    <div class="">
        <h1 class="detailHeader">Rachelle and Travis' Wedding Details</h1>
    </div>

    <div class="">
        <h3 class="location well">Location: The Barn at Finley Point</h3>
        <h3 class="location well">Address: </h3>
        <h3 class="location well">Wedding Time: 3:00 PM</h3>
  </div>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2683.5994271920986!2d-114.0530135492834!3d47.73102318726639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53679e2b37fb8f3b%3A0xa780a29a44875ed2!2sThe+Barn+at+Finley+Point!5e0!3m2!1sen!2sus!4v1477365316389&zoom=5" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
https://www.google.com/maps/embed/v1/MODE?key=AIzaSyBUhEuldyQLiY6_by9NTqLi9Bhr25-tHgc&parameters
</template>