<template name="details">

    <div class="pageContent" data-aos="zoom-in-up">
        <h1 class="detailHeader">Rachelle and Travis' Wedding Details</h1>



        <h5 class="location well">Location: The Barn at Finley Point</h5>
        <h5 class="location well">Address: 33213 S Finley Point Rd, Polson, MT 59860 </h5>
        <h5 class="location well">Wedding Time: 3:00 PM</h5>
        <h5 class="location well">Lodging: We have rooms blocked at KwaTaqNuk Resort in Polson<a href="http://kwataqnuk.com/"> Here is a link to there website</a>
            <div class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown">Click here for more lodging options</button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.redlion.com/polson">Red Lion</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.abvi.com/bestv.cfm?idp=423">America's Best Value Port Polson Inn</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://stateparks.mt.gov/finley-point/">Finley Point Campground</a></li>

                </ul>
            </div></h5>



  {{>map}}
    </div>
</template>