<template name="details">

    <div class="pageContent row" data-aos="zoom-in-up">
        <h1 class="detailHeader">Rachelle and Travis' Wedding Details</h1>

        <div class="weddingPics row">
        <h5 class="location well">Location: The Barn at Finley Point</h5> 
            <div class="weddingArea col-md-4 col-sm-3 hidden-xs"><img src="/images/weddingArea.jpg" alt="" class="theBarn"></div>
            <div class="outsideBarn col-md-4 col-sm-3 hidden-xs"><img src="/images/outsideLookAtBarn.jpg" alt="" class="theBarn outsideLookAtBarn"></div> 
            <div class="insideBarn col-md-4 col-sm-3 hidden-xs"><img src="/images/insideBarn.jpg" alt="" class="theBarn insideBarn"></div>
            
        
        </div>

        <h5 class="location well">Address: 33213 S Finley Point Rd, Polson, MT 59860 </h5>
        <h5 class="location well">Wedding Time: 3:00 PM</h5>
        <h5 class="location well">Lodging: We have rooms blocked under our names at KwaTaqNuk Resort in Polson.<br><br>
        <p>Phone Number:<a class="detailsPage" href="tel:+14068833636">406-883-3636</a> </p>
        <p><a class="detailsPage website" href="http://kwataqnuk.com/">KwaTaqNuk Website</a></p>
            <div class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown">Click here for more lodging options</button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.redlion.com/polson">Red Lion</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.abvi.com/bestv.cfm?idp=423">America's Best Value Port Polson Inn</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://stateparks.mt.gov/finley-point/">Finley Point Campground</a></li>

                </ul>
            </div></h5>



  {{>map}}
    </div>
</template>